In [ ]:
for i in range(0,4):
  for j in range(0,4):
    print("*", end=" ")

  print(" ")

* * * *
* * * *
* * * *
* * * *

In [ ]:
num=6
for i in range(0,num):
  for j in range(0,num):
    print("*", end=" ")

  print(" ")

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
num=4
for i in range(0,num):
  for j in range(0,i+1):
    print("*",end=" ")

  print(" ")

*
* *
* * *
* * * *

In [ ]:
num=4
for i in range(0,num):
  for j in range(0,i+1):
    print(i,end=" ")

  print(" ")

0
1 1
2 2 2
3 3 3 3

In [ ]:
num=4
for i in range(0,num):
  for j in range(0,i+1):
    j+=2
    print(j,end=" ")

  print(" ")

2
2 3
2 3 4
2 3 4 5

In [ ]:
num=4
for i in range(0,num):
  x=2
  for j in range(0,i+1):
    j+=2
    print(x,end=" ")

  print(" ")

2
2 2
2 2 2
2 2 2 2

In [ ]:
num = 65

for i in range(1, 4):
    for j in range(0,i):
        print(num, end=" ")
        num += 1
    print()

65
66 67
68 69 70

In [ ]:
num=65

for i in range(1, 4):
    for j in range(i):
        print(chr(num), end=" ")
        num += 1
    print()

A
B C
D E F

In [ ]:
for rows in range(4,0,-1):
    for cols in range(rows):
        print("*", end=" ")
    print(" ")

* * * *
* * *
* *
*

In [ ]:
for rows in range(4, 0, -1):
    for cols in range(rows):
        print(cols, end=" ")
    print()

0 1 2 3
0 1 2
0 1
0

In [ ]:
num=10
for rows in range(5, 0, -1):
    for cols in range(rows):
        print(num, end=" ")
        num+=1
    print()

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
for i in range(1, 5):
    for j in range(i, 5):
        print(j, end=" ")
    print()

1 2 3 4
2 3 4
3 4
4

In [ ]:
for i in range(1,5):
    for j in range(i,5):
        print(j, end=" ")
    print()

1 2 3 4
2 3 4
3 4
4

In [ ]:
for i in range(5, 0, -1):
    for j in range(i):
        print(1 if j % 2 == 0 else 0, end=" ")
    print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
for i in range(5, 0, -1):
    for j in range(i):
        if j % 2 == 0:
            print(1, end=" ")
        else:
            print(0, end=" ")
    print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
for i in range(1, 6):
    for j in range(6 - i):
        if j % 2 == 0:
            print(i, end=" ")
        else:
            print(0, end=" ")
    print()

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [ ]:
n = 3
for i in range(n, 0, -1):
    for j in range(i):
        print("-", end=" ")
    print()

- - -
- -
-

In [ ]:
n = 4
for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [ ]:
n = 4

for i in range(n):
    for j in range(n - i - 1):
        print("-", end=" ")
    for k in range(i + 1):
        print("*", end=" ")
    print()

- - - *
- - * *
- * * *
* * * *

In [ ]:
n = 5
for i in range(n):
    for j in range(i):
        print("-", end=" ")
    for k in range(n - i):
        print("*", end=" ")
    print()

* * * * *
- * * * *
- - * * *
- - - * *
- - - - *

In [ ]:
n = 5

for i in range(n):
    for j in range(n):
        if j == i or j == n - 1 or i == 0:
            print("*", end=" ")
        else:
            print("-", end=" ")
    print()

* * * * *
- * - - *
- - * - *
- - - * *
- - - - *

In [ ]:
n = 5  # Number of rows

for i in range(n):  # Controls the row number (0 to 4)
    for j in range(n):  # Controls the columns
        if j == i or j == n - 1 or i == 0:  # Conditions for printing '*'
            print("*", end=" ")
        else:
            print("-", end=" ")
    print()  # Moves to the next line

* * * * *
- * - - *
- - * - *
- - - * *
- - - - *

In [ ]:
n = 5
for i in range(n):
    for j in range(n - i):
        if (j == 0 or j == n - i - 1 or i == 0):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*     *
*   *
* *
*

In [ ]:
num=5
for i in range(0,num):
  for j in range(0,num-i):
    if(i==0 or j==0 or j==num-i-1):
     print("*",end=" ")
    else:
      print(" ",end=" ")

  print(" ")

* * * * *
*     *
*   *
* *
*

In [ ]:
n = 5  # Number of rows
num = 1  # Starting number

for i in range(n):  # Controls the row number (0 to 4)
    for j in range(n - i):  # Controls the number of columns per row
        if j == 0 or j == n - i - 1:  # Print the first and last number in each row
            print(num, end=" ")
        else:
            print("-", end=" ")  # Print '-' in between
        num += 1  # Increment number for each position
    print()  # Moves to the next line